.bold {
  font-weight: bold;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.alignc {
  text-align: center;
}

.alignl {
  text-align: left;
}

.alignr {
  text-align: right;
}

.iblock {
  display: inline-block !important;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.centerx {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.centery {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.posr {
  position: relative;
}

.posa {
  position: absolute;
}

.pointer {
  cursor: pointer;
}

.bgCover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  &.col {
    flex-direction: column;
  }
  &.between {
    justify-content: space-between;
  }
  &.vtop {
    align-items: flex-start;
  }
  &.vbottom {
    align-items: flex-end;
  }
  &.vcenter {
    align-items: center;
  }
  &.hcenter {
    justify-content: center;
  }
  &.around {
    justify-content: space-around;
  }
  .flex1 {
    flex: 1;
  }
  .flex2 {
    flex: 2;
  }
  .flex-auto {
    flex: auto;
  }
  .shrink0 {
    flex-shrink: 0;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  .none {
    flex: none;
  }
}

.middle {
  vertical-align: middle;
}

.line1 {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@for $i from 2 through 10 {
  .line#{$i} {
    display: -webkit-box;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: #{$i};
    overflow: hidden;
  }
}
